* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    background: rgb(178, 228, 236);
    margin: 8px 3px;
    border-radius: 0.5rem;
    width: 100%;
    height: 86%;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
}

.lista {
    width: 15%;
    height: 100%;
}

.result {
    margin-left: 1rem;
    width: 85%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border: 3px groove gray;
    border-radius: 0.5rem;
    box-shadow: 0 5px 5px 0 black;
}