<div class="bady">

  <form class="options">
    <div class="input">
      <div class="p-float-label nome">
        <input id="nome" type="text" pInputText>
        <label for="nome">Nome</label>
      </div>
      <div class="p-float-label descricao">
        <input id="descricao" type="text" pInputText>
        <label for="descricao">Descrição</label>
      </div>
    </div>
    <div class="btns">
      <button pButton type="button" label="Novo" class="p-button-primary" icon="pi pi-save"></button>
      <button pButton type="button" label="Salvar" class="p-button-success" icon="pi pi-search-plus"></button>
    </div>
  </form>


  <div class="form">

  </div>

</div>
