* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.option {
    width: 100%;
    height: 100%;
    background-color: rgb(29, 29, 29);
    border-radius: 5px;
    border: 2px groove gray;
    box-shadow: 0 5px 5px 0 black;
    overflow: hidden;
}

.section {
    overflow: auto;
    height: 85%;
}

ul {
    padding: 10%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

li {
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin: 6% 0;
    cursor: pointer;
    font-style: italic;
    text-shadow: 3px 3px 3px rgb(88, 155, 255);
}

a {
    text-decoration: none;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-style: italic;
}

a:hover {
    color: rgb(255, 255, 255);
    text-shadow: 4px 4px 6px rgb(149, 248, 119);
}

li:hover {
    color: rgb(252, 252, 252);
    text-shadow: 4px 4px 6px rgb(149, 248, 119);
}

.title {
    display: flex;
    justify-content: center;
    background: linear-gradient(black, gray, white, gray, black);
    align-items: center;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}