* {
    box-sizing: border-box;
}

.option {
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    border-radius: 5px;
    border: 2px groove gray;
    box-shadow: 0 5px 5px 0 black;
}

ul {
    overflow: auto;
    height: 84%;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 25%;
    padding-bottom: 10%;
}

li {
    font-size: 140%;
    margin: 8% 0;
    cursor: pointer;
    font-style: italic;
    text-shadow: 1px 1px 6px rgb(146, 179, 26);
    border: 1px solid white;
}

li:hover {
    color: blue;
    text-shadow: 3px 3px 3px rgb(149, 248, 119);
}

.title {
    display: flex;
    justify-content: center;
    background: linear-gradient(black, gray, white, gray, black);
    align-items: center;
    width: 100%;
    height: 15%;
    border-radius: 5px;
    color: blue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
}